// Portfolio item 3 modal popup
#portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .close-modal(data-bs-dismiss='modal')
                img(src='assets/img/close-icon.svg', alt='Close modal')
            .container
                .row.justify-content-center
                    .col-lg-8
                        .modal-body
                            // Project details
                            h2.text-uppercase Family Law
                            p.item-intro.text-muted Sensitive matters handled with legal and personal care.
                            img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/3.jpg', alt='...')
                            p Support for matrimonial disputes, maintenance claims, custody concerns, and negotiated settlements with attention to both legal strength and practical outcomes.
                            ul.list-inline
                                li
                                    strong Representation:
                                    | Applications, replies, and court submissions
                                li
                                    strong Focus:
                                    | Family and matrimonial matters
                            button.btn.btn-primary.btn-xl.text-uppercase(data-bs-dismiss='modal', type='button')
                                i.fas.fa-xmark.me-1
                                | Close Details