// Portfolio item 5 modal popup
#portfolioModal5.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .close-modal(data-bs-dismiss='modal')
                img(src='assets/img/close-icon.svg', alt='Close modal')
            .container
                .row.justify-content-center
                    .col-lg-8
                        .modal-body
                            // Project details
                            h2.text-uppercase Consumer & Financial Claims
                            p.item-intro.text-muted Structured complaint pathways for unresolved dues and deficiencies.
                            img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/5.jpg', alt='...')
                            p Drafting and representation support for consumer complaints, payment recovery concerns, and related legal notices designed to strengthen case positioning.
                            ul.list-inline
                                li
                                    strong Representation:
                                    | Complaint drafting and legal submissions
                                li
                                    strong Focus:
                                    | Consumer and financial dispute redressal
                            button.btn.btn-primary.btn-xl.text-uppercase(data-bs-dismiss='modal', type='button')
                                i.fas.fa-xmark.me-1
                                | Close Details