//
// Colors
//

// Override Bootstrap color variables

$gold: #ba9652;
$ink: #0f1a2f;
$stone: #e8e0cf;
$mist: #f7f4ed;

// Override Bootstrap state colors variables

$primary: $gold;
$secondary: $ink;
$light: $mist;
$dark: $ink;

// Override Bootstrap contrast ratio

$min-contrast-ratio: 1.5;
